header.p-3.text-white#navbar_top
  .container
    .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
      a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
        img(src="/images/OHE-Logo.png", alt="Oprofinder" class="logo")
      ul.nav.col.mb-2.justify-content-end.mb-md-0.d-lg-flex.d-none
        li
          a.nav-link.px-2.text-secondary(href='#') Home
        //li
          a.nav-link.px-2.text-white(href='#') Articles
        li
          a.nav-link.px-2.text-white(href='#') About
        li
          a.nav-link.px-2.text-white(href='#') Contact
        li
          a.nav-link.px-2.text-white(href='#') FAQs
      .text-end
        //button.btn.btn-outline-light.me-2(type='button') Login
        //button.btn.btn-warning(type='button') Sign-up
