doctype html
html(lang="en").theme-light
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")    
		title= title
		meta(property='og:locale' content='en_US')
		meta(property='og:type' content='article')
		meta(property='og:title' content='Oprofinder Blog')
		meta(property='og:description' content='Oprofinder blog website')
		meta(property='og:url' content='https://oprofinder-blog.herokuapp.com/')
		meta(property='og:site_name' content='Oprofinder Blog')
		meta(property='article:published_time' content='2021-11-15T08:00:56+00:00')
		meta(property='article:modified_time' content='2021-11-16T08:00:56+00:00')
		meta(property='og:updated_time' content='2021-11-15T08:00:56+00:00')
		meta(property='og:image' content='/images/cover.png')
		meta(property='og:image:secure_url' content='/images/cover.png')
		meta(property='og:image:width' content='1703')
		meta(property='og:image:height' content='773')
		meta(property='og:image:alt' content='TSMB')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/blog.css')
		link(rel='icon', type="image/png",  href='/images/favicon.png')
		link(rel='icon', type="image/x-icon", href='/images/favicon.ico')
		link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
		link(rel='stylesheet', href='/stylesheets/LineIcons.css')
		link(rel='stylesheet', href='/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-grid.min.css')
		link(rel='stylesheet', href='/all.css')
		link(rel='stylesheet', href='/stylesheets/small.css')
		link(rel='stylesheet', href='/stylesheets/wide.css')
		link(rel='stylesheet', href='/stylesheets/animations.css')
		link(rel="preconnect",href="https://fonts.gstatic.com")
		link(rel='preconnect', href='https://cdn.lineicons.com/2.0/LineIcons.css')
		link(rel="stylesheet", href="/hamburgers.min.css")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-3.6.0.js", integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=", crossorigin="anonymous")    
		//script(src="/javascripts/pagination.min.js") 
		script(src="/javascripts/tinymce/tinymce.min.js") 
	body
		block content
		script(src="https://unpkg.com/@popperjs/core@2")
		script(src="/bootstrap.js")
		script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
		script(src="/javascripts/index.js") 


