@media only screen and (max-width: 768px) {
    .post-wrap .text-truncate {
        max-width: 150px;
    }
    .post-wrap .text-truncate.title {
        max-width: 230px;
        line-height: 1;
        font-size: 35px;
        font-weight: bold;
    }
    .slider-text h1 {
        font-size: 14vw;
        line-height: 1.2;
    }
    #error {
        padding: 15px !important;
    }
    .primary-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .post-wrap .text-truncate.title {
        max-width: 150px;
        line-height: 1;
        font-size: 20px;
        font-weight: bold;
    }
}


@media only screen and (max-width: 300px) {   
}